
.card a:hover {
    border-width:12px;  
    border-style:solid;
	border-color:#b49b13;
}

.banner-dulzumat {
    background-image: url('/images/foto-fondo-inicio.jpg');
    background-color: #977f11;
    background-repeat: no-repeat center center;
    background-size: cover;
}

.dulzumat-bg-dark-color {
    background-color: $dulzumat-dark-color;
}

.dulzumat-bg-color {
    background-color: $dulzumat-color;
}