{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mb-4 mb-lg-0">
        {{ if isset .Params "images" }} 
          {{ partial "gallery.html" . }}
        {{ end }}
      </div>
      <div class="col-lg-5 offset-lg-1">
        <h4 class="font-weight-medium">{{ .Title }}</h4>
        <!-- rating star -->
        {{ if .Site.Params.rating.enable }}
        <div class="rw-ui-container"></div>
        {{ end }}
        <div class="my-4">
          <span class="lead text-primary font-weight-medium">{{ .Params.Price }}</span>
          <!--<s>{{ .Params.PriceBefore }}</s>-->
        </div>
        {{ if isset .Params "allergens" }} 
        <div class="">
          <div class="my-2">
            <span class="lead font-weight-medium">Alergenos:</span>
          </div>
          <div class="container mx-0 px-0">
            <div class="row">
              {{ $allergens := .Site.Data.productos.allergens}}
              {{ range split .Params.allergens "," }}
              <div class="col-3">
                <div class="container">
                  <div class="row">
                      <div class="col">
                        <img class="img-fluid" src="/images/allergens/alergenos-{{ . }}.png" >
                      </div>
                  </div>
                  <div class="row">
                      <div class="col text-center">
                        <p style="line-height: 0.9; "><small>{{ index (index $allergens ( sub (int .) 1)) "name" }}</small></p>
                      </div>
                  </div>
                </div>
              </div>
              {{ end }}                
            </div>
          </div>
        </div>
        {{ end }}
        {{ if .Site.Data.homepage.snipcart.enable }}
        <button class="snipcart-add-item btn btn-primary" data-item-id="{{ .Params.ProductID }}"
          data-item-name="{{ .Title }}" {{ range first 1 .Params.Images }} data-item-image="{{ .image | absURL }}"
          {{ end }} data-item-price="{{ .Params.Price }}" data-item-url="{{ .Permalink }}">
          Add to cart
        </button>
        {{ end }}
      </div>
      <div class="col-12 mt-5">
        <ul class="nav nav-tabs border-bottom-0" id="myTab" role="tablist">
          <li class="nav-item mr-3">
            <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
              aria-controls="description" aria-selected="true">Descripción</a>
          </li>
          {{/*  <li class="nav-item">
            <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
              aria-selected="false">Reviews</a>
          </li>  */}}
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            <div class="content">{{ .Content }}</div>
          </div>
          {{/*  <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
            {{ template "_internal/disqus.html" . }}
          </div>  */}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "cta.html" . }}

{{ end }}